<?xml version="1.0" encoding="UTF-8"?>
<beans 
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
					    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
					    http://www.springframework.org/schema/context 
					    http://www.springframework.org/schema/context/spring-context-3.0.xsd
					    http://www.springframework.org/schema/mvc 
					    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
					    http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx.xsd
						http://www.springframework.org/schema/aop
						http://www.springframework.org/schema/aop/spring-aop.xsd">
	<!-- CONTEXT -->
	<context:component-scan 
  		base-package="br.com.herberton.tcc.puc.poc" />
	<context:load-time-weaver/>
	<context:annotation-config/>
	<!-- MVC -->
	<mvc:annotation-driven/>
	<mvc:default-servlet-handler/>
	<bean 
		class="org.springframework.web.servlet.view.InternalResourceViewResolver"
		p:prefix="/WEB-INF/views/"
		p:suffix=".jsp"/>
	<bean
		id="sessionValidateFilter"
		class="br.com.herberton.tcc.puc.poc.filter.SessionValidateFilter"/>
	<!-- JPA -->
	<context:property-placeholder 
		location="/WEB-INF/jdbc.properties"/>
	<tx:annotation-driven 
		transaction-manager="transactionManager"/>
	<bean 
		name="loadTimeWeaver"
		class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
    <bean
   		name="dataSource"
   		class="org.apache.commons.dbcp.BasicDataSource"
   		destroy-method="close"
   		p:driverClassName="${jdbc.driverClassName}"
   		p:url="${jdbc.url}"
   		p:username="${jdbc.username}"
   		p:password="${jdbc.password}"
   		p:validationQuery="SELECT 1"
   		p:testOnBorrow="true"/>
   	<bean 
		id="entityManagerFactory" 
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		p:dataSource-ref="dataSource"
		p:loadTimeWeaver-ref="loadTimeWeaver"/>
    <bean 
		id="transactionManager" 
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource"/>
	<bean 
		class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor"/>
</beans>